<div class="text-white">
  <p class="text-white author">~ {{quote.author}}</p>

 <button type="button" (click)='likeButtonClick() 'class="btn" col-md-4>upvote<i  class="fas fa-thumbs-up fa-2x thumb-up"></i></button>
 {{numberOfLikes }}
  <button type="button"  (click)='dislikeButtonClick()' class="btn" col-md-4>downvote<i class="fas fa-thumbs-down fa-2x thumb-down"></i></button>
 {{numberOfDislikes}} &nbsp;&nbsp;&nbsp;{{quote.datePosted|dayCount}}
 <br><br><button (click)= 'deleteQuote(true)' class="btn btn-outline-danger">Delete Me</button>
 <!-- <button type="button" class="btn" col-md-4>upvote <i (click)='likeButtonClick'class="fas fa-thumbs-up fa-2x thumb-up"></i> {{numberOfLikes}}</button>
 <button type="button" class="btn btn-primary" col-md-4>downvote <i(click)='likeButtonClick' class="fas fa-thumds-down fa-2x thumb-down"></i>{{numberOfDislike}} </button> -->
 <!-- <br><br><button (click)= 'deleteQuote(true)' class="btn btn-outline-danger">Delete Me</button> -->
</div>
